
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #FEF0E5;
}

.header-container {
    height: 100px;
    width: 100%;
    padding: 0 20% 0 20%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    background-color: #FFFFFF;
    border-bottom: solid black 1px;
}

.header-element {
    /*display: table-column;*/
    width: 15%;
    height: 100px;
    margin: 0 0 0 5%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    float: left;
}

a #logo {
    height: 99px;
    width: 99px;

    float: left;
}

.main-container {
    margin: 5% 30% 5% 20%;
    text-align: center;
    width: 60%;
    height: 60%;
    background-color: #E7E9EB;
    border-radius: 10px;
}

#main-title-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#main-title {
    font-size: xxx-large;
}

.names-container {
    display: table;
    width: 100%;
    height: 300px;
}

.name-container {
    width: 20%;
    height: 200px;
    margin: 50px 0 0 10%;

    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    border: black solid;
    border-radius: 10px;
    background-color: #F6F5FA;
}

.name-container:hover {
    box-shadow: 0 0 20px rgba(33, 33, 35, 1);
}

.activated {
    background-color: #F1F9D9;
}

.non-activated {
    background-color: darkred;
}

#buttons-container {
    height: 150px;
    width: 100%;
    padding: 20px 30% 0 30%;

    display: table;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.forward-backward-button {
    height: 50px;
    width: 30%;
    display: flex;
    float: left;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background-color: #029BE5;
    border-radius: 4px;
}

.forward-backward-button:hover {
  box-shadow: 0 0 5px rgba(33,33,35,1);
}

#backward-button-container {
    margin-right: 5%;
}

#forward-button-container {
    margin-left: 5%;
}

