<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navne leg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
<div class="header-container">
    <ul>

        <a href="{{ url_for('index') }}">
            <img id="logo" src="{{ url_for('static', filename='imgs/baby-logos.jpg') }}" alt="logo">
        </a>

        <li class="header-element">
            <h3>Favoritter</h3>
        </li>
        <li class="header-element">
            <h3>Inspiration</h3>
        </li>
        <li class="header-element">
            <h3>Om</h3>
        </li>
    </ul>
</div>
<div class="main-container">
    <div id="main-title-container">
        <h1 id="main-title">Klik på din favorit</h1>
    </div>
    <div class="names-container">
        <div class="name-container" onclick="location.href='#'" id="name1">
            <h2 class="name-title">{{ name1 }}</h2>
        </div>

        <div class="name-container" id="name2">
            <h2 class="name-title">{{ name2 }}</h2>
        </div>

        <div class="name-container" id="name3">
            <h2 class="name-title">{{ name3 }}</h2>
        </div>
    </div>
    <div id="button-container">
        <div id="next-button-container">
            <a href="{{ url_for('index') }}">
                <div id="next-button">
                    <h2>Shuffle</h2>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>