<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navne leg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="main-container">
        <div id="main-title-container">
            <h1 id="main-title">Vælg dit favorit navn</h1>
        </div>
        <div class="names-container">
            <div class="name-container" id="name1">
                <h1 class="name-title">{{ name1 }}</h1>
            </div>
            <div class="name-container" id="name2">
                <h1 class="name-title">{{ name2 }}</h1>
            </div>
            <div class="name-container" id="name3">
                <h1 class="name-title">{{ name3 }}</h1>
            </div>
        </div>
        <div id="next-button-container">
            <a href="{{ url_for('index') }}">
                <div id="next-button">
                    <h2>Næste</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html>