<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navne leg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
<div class="header-container">
    <ul>
        <a href="{{ url_for('index') }}">
            <img id="logo" src="{{ url_for('static', filename='imgs/baby-logos.jpg') }}" alt="logo">
        </a>
        <li class="header-element">
            <a href="{{ url_for('index') }}">
                <h3>Favoritter</h3>
            </a>
        </li>
        <li class="header-element">
            <a href="{{ url_for('index') }}">
                <h3>Inspiration</h3>
            </a>
        </li>
        <li class="header-element">
            <a href="{{ url_for('index') }}">
                <h3>Om</h3>
            </a>
        </li>
    </ul>
</div>
<div class="main-container">
    <div id="main-title-container">
        <h1 id="main-title">Klik på din favorit</h1>
    </div>
    <div class="names-container">
        <div class="name-container" id="name1" onclick="activate(this.id)">
            <h2 class="name-title">{{ name1 }}</h2>
        </div>

        <div class="name-container" id="name2" onclick="activate(this.id)">
            <h2 class="name-title">{{ name2 }}</h2>
        </div>

        <div class="name-container" id="name3" onclick="activate(this.id)">
            <h2 class="name-title">{{ name3 }}</h2>
        </div>
    </div>
    <div id="buttons-container">
        <a href="{{ url_for('backward') }}">
            <div id="backward-button-container" class="forward-backward-button">

                <div id="backward-button">
                    <h2>Forrige</h2>
                </div>

            </div>
        </a>
        <a href="{{ url_for('forward') }}">
            <div id="save-button-container" class="forward-backward-button">

                <div id="save-button">
                    <h2>Gem</h2>
                </div>

            </div>
        </a>
        <a href="{{ url_for('forward') }}">
            <div id="forward-button-container" class="forward-backward-button">

                <div id="forward-button">
                    <h2>Næste</h2>
                </div>

            </div>
        </a>
    </div>
</div>
</body>
</html>